@keyframes header-menu-item {
    from {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}